.categories-page {
  background-color: #000;

  transition: all 1s ease-in-out;
}

.categories-header {
  display: flex;
  justify-content: space-between;
  
}

.categories-header__item {
  margin: auto 0;
}

.categories-header__logo {
  width: 166px;
  height: 62px;
  background: url("../assets/svg/logo.svg") center no-repeat;
  background-size: contain;
}

.categories-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 25px;
}

.categories-menu__title {
  font-weight: 500;
}

.categories-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px 25px;
  justify-items: center;

  margin-top: 35px;

  @media (min-width: 520px) {
    grid-template-columns: 1fr 1fr;
    gap: 15px 0px;
  }

  @media (min-width: 768px) {
    row-gap: 30px;
  }

  @media (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.categories-cards__card {
  width: 90%;
  
  background-color: #383838;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  transition: all .3s ease-in-out;

  &:hover {
    cursor: pointer;
    color: #000;
    background-color: #e2e2e2;
    box-shadow: 8px 8px 0 rgba(255, 255, 255, 0.493);
  }

  &:active {
    transform: scale(.99);
  }
}

.categories-cards__card-img {
  width: 100%;
}

.categories-cards__card-img-gray {
  filter: grayscale(100%);
}

.categories-cards__card-bottom {
  display: flex;
  justify-content: space-between;

  font-size: 18px;
  padding: 5px 15px;
}

.categories-card__card-score {
  display: flex;
  justify-content: center;

  color: #e2e2e2;
  line-height: 35px;

  background-color: #497CFF;
  border-radius: inherit;

  transition: all .3s ease-in-out;
  box-shadow: 0px 0px 0px #3a64cf;

  &:hover {
    transform: translate(0px, 8px);
    box-shadow: 0px -8px 0px #3a64cf;
  }

  &:active {
    background-color: #3a64cf;
  }
}

