.main-page {
  display: grid;
  grid-template-rows: 1fr auto;
  row-gap: 40px;

  padding-top: 20px;
  
  min-height: 100vh;
  width: 100%;

  background: url("../assets/img/main/main360.jpg") top no-repeat;
  background-size: cover;

  transition: all 1s ease-in-out;

  &.hide {
    transform: translate(0);
    opacity: 0;
  }

  @media (min-width: 520px) {
    background-image: url("../assets/img/main/main520.jpg");
  }

  @media (min-width: 768px) {
    background-image: url("../assets/img/main/main.jpg");
  }

  @media (min-width: 1000px) {
    background-position: center;
  }
}

.main__inner {
  display: flex;
  flex-direction: column;

  height: 100%;

  align-items: center;
}


.main__logo {
  margin-top: auto;

  width: 166px;
  height: 62px;
  background: url("../assets/svg/logo.svg") center no-repeat;
  background-size: contain;
  
  @media (min-width: 768px) {
    margin-top: 250px;

    width: 321px;
    height: 120px;
  }

  @media (min-width: 1000px) {
    margin-top: 300px;

    width: 440px;
    height: 164px;
  }
}

.main__menu {
  margin-top: 25px;

  @media (min-width: 768px) {
    margin-top: 50px;

    display: flex;

    width: 700px;
    column-gap: 30px;
  }
}

