.quiz-page {
  text-align: center;

  transition: all 1s ease-in-out;
}

.container-quiz {
  width: 100%;
  &.hide {
    opacity: 0;
    
    transform: translate(0);
  }
}

.quiz__question {
  margin-bottom: 10px;

  font-weight: 500;
}

.quiz__img {
  object-fit: contain;
  width: 100%;

  max-height: 385px;

  border-radius: 15px;

  @media (min-width: 1000px) {
    max-height: 550px;
  }
}

.quiz-answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 20px;

  row-gap: 20px;
}

.quiz-answers__pictures {
  display: flex;

  width: 100%;
}

.quiz-answers__picture {
  width: 48%;
  
  height: 180px;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  border-radius: 15px;
  border: 2px solid transparent;

  transition: all .5s ease-in-out;

  &:hover {
    cursor: pointer;
    border-color: #fff;
  }

  &:active {
    transform: scale(.97);
  }

  &.right {
    border-color: #00ff22;
  }

  &.wrong {
    border-color: #ff0000;
  }

  @media (min-width: 520px) {
    height: 200px;
  }

  @media (min-width: 768px) {
    height: 250px;
  }

  @media (min-width: 1000px) {
    height: 300px;
  }
}