.settings-page {
  transition: all 1s ease-in-out;
}

.settings__item {
  margin-top: 50px;
}

.settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-header__title {
  font-weight: 500;
}

.settings-content {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: 520px) {
    text-align: left;
  }
}

.settings-title {
  margin-bottom: 25px;

  font-weight: 500;
  font-size: 30px;
}

.settings-volume {
  display: flex;
  flex-direction: column;

  font-weight: 500;
}

.settings-answer__inner {
  display: flex;

  justify-content: center;
  align-items: center;

  column-gap: 15px;

  @media (min-width: 520px) {
    justify-content: left;
  }
}

.settings-answer__time {
  width: 30px;
}

.settings-time__checkbox {
  position: relative;
}

.settings-time__checkbox label {
  position: absolute;
  top: 0;
  left: 0;

  height: 28px;
  width: 28px;

  background-color: #f53535;
  border: 1px solid #f53535;
  border-radius: 50%;
  cursor: pointer;
}

.settings-time__checkbox label:after {
  position: absolute;
  content: "";
  top: 8px;
  left: 7px;

  width: 12px;
  height: 6px;

  border: 2px solid #fff;
  border-top: none;
  border-right: none;

  opacity: 0;
  transform: rotate(-45deg);
}

.settings-time__turn {
  visibility: hidden;
}

.settings-time__turn:checked + label {
  background-color: #497CFF;
  border-color: #497CFF;
}

.settings-time__turn:checked + label:after {
  opacity: 1;
}